@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  --Tomato: hsl(4, 100%, 67%);
}

//Media query manager

/*
1-0-600px phone

2-600+900px tablet

3-900-1200 tablet landscape

4-1200-1800 dektop
*/

@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }

  @if ($breakpoint == tab-port) {
    @media only screen and (max-width: 65.25em) {
      @content;
    } //900px
  }

  @if ($breakpoint == tab-land) {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }

  @if ($breakpoint == big-desktop) {
    @media only screen and (min-width: 112.5rem) {
      @content;
    } //1800px
  }
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--Dark-Slate-Grey);

  min-height: 100vh;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
}

.root {
  width: 100%;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  @include respond(phone) {
    align-items: start;
  }
}

.sign-up-form {
  width: 100%;
  background-color: var(--White);
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  height: auto;
  max-width: 104rem;
  @include respond(tab-port) {
    padding: 1rem;
  }
  @include respond(phone) {
    flex-direction: column-reverse;
  }
  @include respond(phone) {
    height: auto;
    max-height: auto;
    min-height: 100vh;
    padding: 0;
  }
}

.sign-up-form .left {
  flex: 1;
  padding: 0rem 6rem;
  @include respond(tab-port) {
    padding: 2rem;
    justify-content: center;
  }
  @include respond(phone) {
    padding: 1rem;
  }
}

.sign-up-form .left h1 {
  color: var(--Charcoal-Grey);
  font-size: 2em;
  font-weight: 700;
}

.offer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.email-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.email-form label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.email-form input {
  outline: none;
  border: 0.2rem solid var(--Grey);
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.email-form input:invalid {
  border: 0.2rem solid var(--Tomato);
  background-color: hsla(4, 100%, 67%, 0.089);
  & ~ span {
    display: block;
  }
}

.email-form span {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--Tomato);
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.btn {
  outline: none;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--Dark-Slate-Grey),
    var(--Dark-Slate-Grey)
  );
  padding: 2rem;
  color: var(--White);
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(
      to right,
      #ff5478,
      #ff566a,
      #ff5b5b,
      #ff614d,
      #ff683d
    );
    opacity: 0;
    transition: opacity 0.5s;
  }
  &:hover::before {
    opacity: 1;
  }
}
.footer {
  width: 100%;
  text-align: center;
}

.footer a {
  color: var(--Dark-Slate-Grey);
  text-decoration: none;
  font-size: 1.2rem;
}

.right {
  background-image: url("../public/illustration-sign-up-desktop.svg");
  width: 40rem;
  height: 59.3rem;
  @include respond(tab-port) {
    width: 0px;
  }

  @include respond(phone) {
    background-image: url("../public/illustration-sign-up-mobile.svg");
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 28.4rem;
    background-repeat: repeat;
  }
}

.success-message-container {
  max-width: 40rem;
  box-sizing: border-box;
  background-color: var(--White);
  border-radius: 3rem;
  padding: 4rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  @include respond(phone) {
    height: 100%;
    border-radius: 0;
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }
}
.success-message-container img {
  align-self: flex-start;
}
.success-message-container .title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.success-message-container p {
  margin: 0;
}
